/* _reset.scss */

/* Restablecer estilos básicos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* Mejorar el espaciado de texto */
    -webkit-text-size-adjust: 100%; /* Evitar el ajuste automático en navegadores móviles */
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: 1.6;
}

main {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}
