/* _variable.scss */

/* Colores */
$primary-color: #007BFF;
$secondary-color: #0056b3;
$text-color: #333;
$background-color: #f4f4f4;
$border-color: #ddd;

/* Tipografía */
$font-family: 'Arial, sans-serif';
$base-font-size: 16px;

/* Espaciado */
$base-padding: 10px;
$base-margin: 10px;
$border-radius: 5px;
