.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $hero-background; /* Fondo de la sección hero */
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-text h2 {
    color: $primary-color;
    font-size: $font-size-large;
}

.hero-text p {
    font-size: $font-size-small;
    color: $primary-color;
}

.hero-button {
    background-color: $secondary-color;
    padding: 15px 30px;
    font-size: $font-size-base;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.hero-button:hover {
    background-color: darken($secondary-color, 10%);
}

.section-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    max-width: 100%; /* Impide que la imagen se haga más grande que su contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para las imágenes */
    object-fit: cover; /* Asegura que la imagen se recorte si es necesario para mantener su proporción */
    margin: 20px 0;
}

/* Botones */
.button {
    background-color: $primary-color;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: $font-size-base;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: $button-hover-color;
}

.return-button {
    display: inline-block;
    margin-top: 20px;
    background-color: $header-background;
    color: $primary-color;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.return-button:hover {
    background-color: $button-hover-color;
}

/* Sección de Cotización */
.quote-section,
.issue-section,
.services-section,
.contact-section {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: $navbar-background;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    background-color: $header-background;
    color: white;
}

button {
    background-color: $primary-color;
    border: none;
    padding: 12px 25px;
    font-size: $font-size-base;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: $button-hover-color;
}

/* Estilo para los servicios */
.service-item {
    background-color: $header-background;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.service-item h2 {
    color: $secondary-color;
    font-size: 1.5em;
}

.service-item p {
    color: $primary-color;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding: 20px;
    }

    .hero-text h2 {
        font-size: $font-size-medium;
    }

    .hero-text p {
        font-size: $font-size-small;
    }

    .hero-button {
        padding: 10px 20px;
        font-size: $font-size-small;
    }

    .section-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .quote-section,
    .issue-section,
    .services-section,
    .contact-section {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .hero-text h2 {
        font-size: $font-size-small;
    }

    .hero-text p {
        font-size: 0.9rem;
    }

    .hero-button {
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    .button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }

    .return-button {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    input, textarea {
        padding: 8px;
    }

    button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}
