// _variables.scss

// Colores
$primary-color: #f39c12;  // Naranja
$secondary-color: #e67e22;  // Naranja oscuro
$background-color: #121212;  // Fondo oscuro
$navbar-background: #222;  // Fondo navbar
$header-background: #333;  // Fondo encabezado
$hero-background: #f9f9f9;  // Fondo sección hero
$button-hover-color: #e67e22;  // Hover en botones

// Fuentes
$font-family: Arial, sans-serif;

// Tamaños de fuentes
$font-size-base: 1.1em;
$font-size-large: 2.5em;
$font-size-small: 1.2em;
